body {
    background-image: url("../images/Anime2.png");
    background-position: top;
  }

.result {
    float: left;
    margin: 10px;
    clear: right;
}

#lookup {
    margin: auto;
    width: 230px;
    text-align: center;
}

.anime {
    margin: 5px;
    background-color: turquoise;
    font-weight: bold;
}

#searchInstruction {
    font-size: large;
    font-weight: bold;
    color: white;
    margin: auto;
}

#find-anime {
    background-color: turquoise;
    font-weight: bold;
}

#animeSearch {
    margin-left: 12px;
}

p {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.gif {
    margin: 5px;
}

